- form_for @turbine do |f|
	%field
		= f.label "P_vh_t"
		= f.text_field :p_vh_t
	%br	
	%field
		= f.label "T_vh_t"
		= f.text_field :t_vh_t
	%br
	%field
		= f.label "KPD_meh"
		= f.text_field :kpd_meh
	%br	
	%field
		= f.label "P_vyh_t"
		= f.text_field :p_vyh_t
	%br	
	%field
		= f.label "T_vyh_t"
		= f.text_field :t_vyh_t
	%br
	%field
		= f.label "KPD_meh"
		= f.text_field :kpd_meh
	%br
	%field
		= f.label "G_g"
		= f.text_field :g_g
	%br
	%field
		= f.label "N_k"
		= f.text_field :n_k
	%br
	%field
		= f.label "n"
		= f.text_field :n
	%br
	%field
		= f.label "Cta"
		= f.text_field :cta
	%br
	%field
		= f.label "C2usl"
		= f.text_field :c2usl
	%br
	%field
		= f.label "x=l/d"
		= f.text_field :x
	%br
	%field
		= f.label "mju"
		= f.text_field :mju
	%br
	%field
		= f.label "alfa"
		= f.text_field :alfa
	%br
	%field
		= f.label "y0"
		= f.text_field :y0
	%br
	%field
		= f.label "alpha(по газу)"
		= f.text_field :alpha
	%br
	= f.submit