<script type="text/javascript" src="/mathjax/MathJax.js"></script>
<% content_for :title do %>
<h1>Турбина</h1>
<% end -%>
<%= link_to raw("&larr;back"), turbines_path %>|<%= link_to raw("Ред."), edit_turbine_path(@turbine) %><br/>
<h1>Исходные данные</h1>
Температура торможения на входе в турбину:  
$$ T_0^* = <%= @turbine.t_vh_t.to_i %> K $$
Давление торможения на входе в турбину:  
$$ P_0^* = <%= @turbine.p_vh_t.to_i %> Pa $$
Статическая температура за турбиной:  
$$ T_2 = <%= @result.t2.to_i%> K $$
Статическое давление за турбиной:  
$$ P_2 = <%= @result.p2.to_i%> Pa $$
Плотность газа за турбиной по параметрам торможения:
$$ \rho_2^* = <%= @result.ro2t.round(4)%> {kg \over m^3} $$
Плотность газа за турбиной по статическим:
$$ \rho_2 = <%= @result.ro2.round(4)%> {kg \over m^3} $$
Площадь сечения за турбиной:
$$ A_2 = <%= @result.aa2.round(4)%> m^2 $$
Максимальная частота вращения
$$ n_{max} = <%= @result.nmax.to_i%> {Ob \over min} $$
Степень расширения в турбине по статическим параметрам
$$ \pi_t= <%= @result.pi_t.round(4)%> $$
Степень расширения в турбине по параметрам торможнния
$$ \pi_t^* = <%= @result.pi_tt.round(4)%> $$
Теплоперепад на турбине
$$ H_t = <%= @result.h.to_i%> {J \over kg} $$
Средний диаметр турбины
$$ D_t = <%= (@result.d*1000).to_i%> mm $$
Окружная скорость турбины на среднем диаметре
$$ U_t = <%= (@result.ut).to_i%> {m \over s} $$
Высота лопатки на выходе из турбины
$$ l_2 = <%= (@result.l2*1000).to_i%> mm $$
Условная скорость на входе в турбину
$$ C_0 = <%= (@result.c0).to_i%> {m \over s} $$
Условная скорость на выходе из турбины
$$ C_{2_{usl}} = <%= (@turbine.c2usl).to_i%> {m \over s} $$
Условная средняя скорость на выходе из турбины
$$ C_{2_{sr}} = <%= (@result.c2sr).to_i%> {m \over s} $$
Количество ступеней
$$ Z = <%= (@result.z).round(1)%> = <%= (@result.z).to_i%> $$


================== НЕ НАДО ==============<br>
Теплоперепады по ступеням:<br/>
<% @result.hh.each do |a|  %>
H<%= @result.hh.index(a)+1 %> = <%= a %><br/>
<% end %>
==========================================<br>
Z = <%= @turbine.turbine_stages.count %>
<h1> Ступени турбины</h1>
<% @tstages = @turbine.turbine_stages %>
<%= render "turbine_stages/index" %>
<%= link_to "Добавить ступень", new_turbine_turbine_stage_path(@turbine) %>
<% i = 1 %>
<% @turbine.turbine_stages.each do |ts| %>
<h1>Ступень №<%= i %></h1>
<%= link_to "Ред.", edit_turbine_turbine_stage_path(@turbine, ts) %> | <%= link_to "Удалить", turbine_turbine_stage_path(@turbine, ts), :method => :delete, :confirm => "Точно удалить?" %> 
<%= render :partial => "turbine_stages/tstage", :locals => {:tstage => ts, :result => TstageResult.new(ts, @result)} %>
<% i = i+1 %>
<% end %>
<%= link_to 'Edit', edit_turbine_path(@turbine) %> |
<%= link_to 'Back', turbines_path %>
